  body {
    margin: 0 2em;
    background-color: #f2f2f2;
    color: #06425C;
    font-size: 1.25em;
  }

  nav, 
  footer {
    text-align: center;
  }

  nav ul li {
    list-style: none;
    display: inline;
    padding: 1em;
    background-color: teal;
    color: aliceblue;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.25em;
  }

  nav ul li:hover{
    background-color: turquoise;
    color: aliceblue;
  }

  nav ul li a {
    text-decoration: none;
  }

  nav ul li a:visited {
    color: aliceblue;
  }

  main img:first-child {
    width: 200px;
    border-radius: 50%;
    padding: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  input[type="submit"] {
    background-color: teal;
    color: aliceblue;
    width: 150px;
    font-size: 1.5em;
    margin-top: .5em
  }

  input[type="submit"]:hover {
    background-color: turquoise;
  }

  form {
    margin-top: 1em;
  }

  input[type="text"] {
    width: 400px;
    line-height: 2em;
    padding-left: 1em;
  }

  input {
    font-size: 1.25em;
  }

  .fa-check-circle,
  .correct {
    color: teal;
  }

  .fa-times-circle,
  .incorrect {
    color: mediumvioletred;
  }

  #num-correct {
    text-align: center;
    color: aliceblue;
    background-image: linear-gradient(teal, turquoise);
    font-size: 2em;
    width: 80%;
  }
  
  @media only screen and (max-width: 900px) {
    nav ul li {
      font-size: .8125em;
      line-height: .8125em;
    }
  }

  @media only screen and (max-width: 600px) {
    nav ul li {
      font-size: .65em;
      line-height: .65em;
    }
  }

  @media only screen and (max-width: 400px) {
    nav ul li {
      margin-left:0;
      font-size: .3em;
      line-height: .3em;
    }
  }
  